/*
The Creative Commons CC0 Public Domain Dedication waives copyright interest in a
work you've created and dedicates it to the world-wide public domain. Use CC0 to
opt out of copyright entirely and ensure your work has the widest reach. As with
the Unlicense and typical software licenses, CC0 disclaims warranties. CC0 is 
very similar to the Unlicense.
*/
/* 
    Created on : 6/01/2020, 02:59:20 PM
    Author     : oscar gonzalez
    Email      : oigonzalez83@misena.edu.co
    GitHub     : file:///C:/Users/Usuario/Desktop/HTML5Application/public_html/index.html
*/
#boton_telefono {
    background-color: #35b548;
    border: 0; 
    box-sizing: border-box;
    color: white;
    
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    line-height: 38px;
    margin-bottom: 12px;
    padding: 1px 10px;
    text-align: center;
}

#boton_texto {
    color: white;
    font-size: 20px;
    padding-top: 2px;
    cursor: pointer;
}

#boton_icono {
    line-height: initial;
    padding-right: 5px;
    padding-top: 9px;
    text-decoration: none;
    width:30px;
    height:25px;
    color:#ffffff;
}

#boton_icono img {
    padding: 0px 0;
    margin-left: -1px;
    width: 25px;
    height:25px;
}